# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains maintainer setups and may contain sensitive information.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will automatically add this build folder
/android/app/build/

# macOS
.DS_Store

# Windows
*.exe
*.obj
*.pdb
*.exp
*.lib

# Environment Variables
.env

# ML models and large AI files
ai/
*.keras
*.pkl
*.h5
*.pt
*.pth
